.bigfooter{
    background-color: $darkGrey;
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.footer{    
    color: $white;
    font-family: $fontText;
    text-transform: uppercase;
    text-align: center;  
    line-height: 30px;
    gap: 30px;
    padding-bottom: 35px;
    @media (min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__cage{
        display: flex;
        flex-direction: column;
        &--alink{
            text-decoration: none;
            color: $white;
        }
        &--alink >li{
            list-style: none;
        }
        &--p{
            font-size: 14px;
            text-transform: lowercase;
        }
    }
}
.order{
    @media (min-width:768px) {
        order: -1;        
    }
}
.circlebottom {
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;     
    transform: translateY(-20px);
    &__arrow{    
        padding-top: 5px;
        align-self: center;
            }
}
.heart{
    color: $orange;
}