.header {
    &__nav {
        background-color: $orange;
        height: 34px;
        width: 37px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        &--img {
            height: 11px;
        }
    }
}
