.sectiontwo {
    background-color: $white-two;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-bottom: 10px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 20px 0 20px;
    } 
} 
.box {
    font-family: $fontText;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    @media (min-width:768px){
        padding: 20px 0 20px 0;
    }

    &__h3 {
        font-size: 20px;
        font-family: $fontHead;
        padding-top: 10px;
        @media (min-width:768px) {
            font-size: 28px;             
        }   
        @media (min-width:1024px) {
            font-size: 32px;  
        }    
    }
    &__h4{
        font-family: $fontHead;
        @media (min-width:768px) {
            font-size: 24px;  
        }   
   
    }   
    &__p{
        @media (min-width:768px) {
            font-size: 20px;
            padding: 10px 5px 0 8px;
        }   
        @media (min-width:1024px) {
            padding: 10px 0 0 0;
        }
    }
    &__buttom {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
                     
        &--a{         
        text-decoration: none;
        color: $white;
        font-size: 20px;
        height: 45px;
        background-color: $orange;
        border: 25px solid $orange;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
}
@media (min-width:768px) {
    .gridone{
        grid-column: span 3;
        padding-top: 40px;
        
    }
    .gridtwo{
        grid-row: 2/3;
    }
    .gridthree{
        grid-column: 2/3;
    }
    
}