.sectiontwo {
    background-color: $white-two;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-bottom: 10px;
    @media (min-width: 320px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } 
    @media (min-width: 768px) {} 
} 
.box {
    grid-column: 2/3;
    font-family: $fontText;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    &__h3 {
        font-size: 20px;
        font-family: $fontHead;
        margin-top: 20px;
    }
    &__h4{
        font-family: $fontHead;
        margin-top: 5px;
    }
   
    &__buttom {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
                
        &--a{         
        text-decoration: none;
        color: $white;
        font-size: 20px;
        width: 184px;
        height: 45px;
        background-color: $orange;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
}