<section class="sectiontwo" id="section-two">
    <div class="box">
        <h3 class="box__h3">Año nuevo, movimientos nuevos</h3>
    </div>    
    <load src="/partials/square.html" heading="Entrenamientos" paragraph="Sesiones de running y entrenamientos."/>
    <load src="/partials/square.html" heading="Cualquier nivel" paragraph="Entrenamientos para cada nivel."/>
    <load src="/partials/square.html" heading="Exclusividad" paragraph="Productos para miembros premium."/>
    <div class="box">
        <div class="box__buttom">
            <a class="box__buttom--a" href="https://adalab.es">Empezar ahora</a>
        </div>        
    </div>
</section>