<section class="section">
    <div class="section__div">
        <p class="section__div--se">Los sentimientos nos inspiran</p>
        <h2 class="section__div--h2">Conecta contigo</h2>
        <p class="section__div--p">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
        </p>
        <div class="section__div--a">
            <a href="https://adalab.es" target="_blank">Comprar</a>
        </div>        
    </div>
</section>